Repository pksadiq/my-gtemplate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, pages

build:
  image: pksadiq/gtk:alpine-amd64
  stage: build
  variables:
    CCACHE_DIR: ${CI_PROJECT_DIR}/_ccache
    MESON_ARGS: --buildtype=debugoptimized -Dhelp=true -Dgtk_doc=true -Dbash-completion=false
  script:
  - meson ${MESON_ARGS} _build
  - ccache --zero-stats
  - ninja -C _build
  - ccache --show-stats
  cache:
  ...

pages:
  image: busybox:1
  stage: deploy
  script:
  - mkdir public
  - mv _build/meson-logs/coveragereport ${CI_PROJECT_DIR}/public/coverage
  artifacts:
    paths:
    - public

ci: Fix last commit
  .gitlab-ci.yml
Due: build

log: Skip GdkPixbuf logs unless asked not to
  src/mgt-log.c
Due: build, pages

log: Fix compiler warnings
  src/mgt-log.c
Due: build, pages

log: Fix a thinko
  src/mgt-log.c
Due: build, pages

tests: Fix a compiler warning in utils
  tests/utils.c
Due: build

build: Fix setting compiler arguments
  meson.build
  src/meson.build
Due: build, pages

Update copyright year to 2022
  src/main.c
  src/mgt-application.c
  src/mgt-application.h
  src/mgt-log.c
  src/mgt-log.h
  src/mgt-settings.c
  src/mgt-settings.h
  src/mgt-utils.c
  src/mgt-utils.h
  src/mgt-window.c
  src/mgt-window.h
Due: build, pages

ci: Use mold linker
  .gitlab-ci.yml
Due: build

tests: Use memory backend for gsettings
  tests/meson.build
Due: build

build: Require meson 0.59
  meson.build
Due: build

build: Use gnome.post_install script to update caches
  meson.build
Due: build

build: Remove no longer used meson postinstall script
  build-aux/meson_post_install.py
Due: none

data: Declare dependency on compiled schemas
  data/meson.build
Due: build

build: Increase warning level
  meson.build
Due: build

build: Add libadwaita dependency
  meson.build
  subprojects/libadwaita.wrap
Due: build

application: Derive from AdwApplication
  src/mgt-application.c
  src/mgt-application.h
Due: build, pages

application: Don't set GtkCssProvider
  src/mgt-application.c
  src/resources/css/gtk.css
  src/resources/css/style-dark.css
  src/resources/css/style.css
  src/resources/gtemplate.gresource.xml
Due: build, pages

window: Derive from AdwApplicationWindow
  src/mgt-window.c
  src/mgt-window.h
  src/resources/ui/mgt-window.ui
Due: build, pages

window: Use AdwAboutWindow as About Window
  src/mgt-window.c
Due: build, pages

ci: Build before running tests
  .gitlab-ci.yml
Due: build

tests: Fix validating ui files
  src/library.c
  src/meson.build
  tests/meson.build
Due: build, pages

library: Add missing copyright
  src/library.c
Due: build, pages

README.md: Updating build dependencies
  README.md
Due: none

library: Fix file name in the comment
  src/library.c
Due: build, pages

library: Fix SPDX identifier for GPL2+
  src/library.c
Due: build, pages

log: Anonymize unicode strings properly
  src/mgt-log.c
  tests/log.c
  tests/meson.build
Due: build, pages

Path conditions:
  build: any of: data/*, docs/*, src/*, tests/*, meson*, .gitlab-ci.yml
  pages: any of: docs/*, src/*
