Repository pksadiq/my-gtemplate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, pages

build:
  image: pksadiq/gtk:alpine-amd64
  stage: build
  variables:
    CCACHE_DIR: ${CI_PROJECT_DIR}/_ccache
    MESON_ARGS: --buildtype=debugoptimized -Dhelp=true -Dgtk_doc=true -Dbash-completion=false
  script:
  - meson ${MESON_ARGS} _build
  - ccache --zero-stats
  - ninja -C _build
  - ccache --show-stats
  cache:
  ...

pages:
  image: busybox:1
  stage: deploy
  script:
  - mkdir public
  - mv _build/meson-logs/coveragereport ${CI_PROJECT_DIR}/public/coverage
  artifacts:
    paths:
    - public

log: Anonymize unicode strings properly
  src/mgt-log.c
  tests/log.c
  tests/meson.build
Due: build, pages

log: Remove an unnecessary check
  src/mgt-log.c
Due: build, pages

log: Improve abort() on fatal errors
  src/mgt-log.c
Due: build, pages

main: Log backtrace on fatal signals
  src/main.c
Due: build, pages

main: Don't log backtrace if run with asan or valgrind
  src/main.c
Due: build, pages

main: Fix prgname
  src/main.c
Due: build, pages

Remove no longer used file
  new-project.sh
Due: none

Add create-project.py
  create-project.py
  data/metainfo/org.sadiqpk.GTemplate.metainfo.xml.in
Due: none

main: Log stack traces only on verbose log
  src/main.c
Due: build, pages

log: Add support for logging to files
  src/mgt-log.c
  src/mgt-log.h
Due: build, pages

log: Fix indentation
  src/mgt-log.c
Due: build, pages

Update copyright year
  README.md
  data/icons/hicolor/scalable/apps/org.sadiqpk.GTemplate.svg
  data/icons/hicolor/symbolic/apps/org.sadiqpk.GTemplate-symbolic.svg
  docs/help/C/index.page
  docs/help/C/show-about.page
  docs/reference/my-gtemplate-docs.xml
  src/main.c
  src/mgt-application.c
  src/mgt-application.h
  src/mgt-log.c
  src/mgt-log.h
  src/mgt-settings.c
  src/mgt-settings.h
  src/mgt-utils.c
  src/mgt-utils.h
  src/mgt-window.c
  src/mgt-window.h
  src/version.h.in
  tests/log.c
  tests/settings.c
  tests/utils.c
Due: build, pages

Update copyright year
  README.md
  data/icons/hicolor/scalable/apps/org.sadiqpk.GTemplate.svg
  data/icons/hicolor/symbolic/apps/org.sadiqpk.GTemplate-symbolic.svg
  docs/help/C/index.page
  docs/help/C/show-about.page
  docs/reference/my-gtemplate-docs.xml
  src/library.c
  src/main.c
  src/mgt-application.c
  src/mgt-application.h
  src/mgt-log.c
  src/mgt-log.h
  src/mgt-settings.c
  src/mgt-settings.h
  src/mgt-utils.c
  src/mgt-utils.h
  src/mgt-window.c
  src/mgt-window.h
  src/version.h.in
  tests/log.c
  tests/settings.c
  tests/utils.c
Due: build, pages

log: Append \n to file only if asked for
  src/mgt-log.c
Due: build, pages

various: Remove GNU Emacs file variables
  .dir-locals.el
  src/library.c
  src/main.c
  src/mgt-application.c
  src/mgt-application.h
  src/mgt-log.c
  src/mgt-log.h
  src/mgt-settings.c
  src/mgt-settings.h
  src/mgt-utils.c
  src/mgt-utils.h
  src/mgt-window.c
  src/mgt-window.h
  tests/log.c
  tests/settings.c
  tests/utils.c
Due: build, pages

various: Remove GNU Emacs file variables
  .dir-locals.el
  src/main.c
  src/mgt-application.c
  src/mgt-application.h
  src/mgt-log.c
  src/mgt-log.h
  src/mgt-settings.c
  src/mgt-settings.h
  src/mgt-utils.c
  src/mgt-utils.h
  src/mgt-window.c
  src/mgt-window.h
  tests/log.c
  tests/settings.c
  tests/utils.c
Due: build, pages

Update .dir-locals.el
  .dir-locals.el
Due: none

Add .clang-format
  .clang-format
Due: none

log: Handle backtraces on crash
  src/mgt-log.c
  src/mgt-log.h
Due: build, pages

main: Remove debug trace code
  src/main.c
Due: build, pages

window: Align struct members
  src/mgt-window.c
Due: build, pages

application: Align struct members
  src/mgt-application.c
Due: build, pages

create-project: Run eglot-format
  create-project.py
Due: none

varous: Update Copyright year
  README.md
  docs/help/C/index.page
  docs/help/C/show-about.page
  docs/reference/my-gtemplate-docs.xml
  src/library.c
  src/main.c
  src/mgt-application.c
  src/mgt-application.h
  src/mgt-log.c
  src/mgt-log.h
  src/mgt-settings.c
  src/mgt-settings.h
  src/mgt-utils.c
  src/mgt-utils.h
  src/mgt-window.c
  src/mgt-window.h
  src/version.h.in
  tests/log.c
  tests/settings.c
  tests/utils.c
Due: build, pages

varous: Update Copyright year
  README.md
  docs/help/C/index.page
  docs/help/C/show-about.page
  docs/reference/my-gtemplate-docs.xml
  src/main.c
  src/mgt-application.c
  src/mgt-application.h
  src/mgt-log.c
  src/mgt-log.h
  src/mgt-settings.c
  src/mgt-settings.h
  src/mgt-utils.c
  src/mgt-utils.h
  src/mgt-window.c
  src/mgt-window.h
  src/version.h.in
  tests/log.c
  tests/settings.c
  tests/utils.c
Due: build, pages

meson: Increase minimum GTK4 version
  meson.build
Due: build

meson: Remove libadwaita subproject
  meson.build
  subprojects/libadwaita.wrap
Due: build

window: Port to use AdwNavigationSplitView
  src/resources/ui/mgt-window.ui
Due: none

Path conditions:
  build: any of: data/*, docs/*, src/*, tests/*, meson*, .gitlab-ci.yml
  pages: any of: docs/*, src/*
